<h1>Create a Song</h1>

<%= form_for @song  do |f| %>
  <%= f.label :song_title %>
  <%= f.text_field :song_title %>
  <br />
  <%= f.label :song_artist_name %>
  <%= f.text_field :song_artist_name %>
  <br />
  <%= f.collection_select :song_genre_id, Genre.all, :name, :name %>
  <input name="song[note_ids][]">

  <%= f.submit %>
<% end %>
